body{
    margin: 0;
    background-color: black;
}

section{
    position: relative;
}

h1{
    color: rgb(21, 248, 21);
    padding: 10px;
}

a{
    background-color: transparent;
    border: none;
    color: rgb(21, 248, 21);
    font-size: 50px;
    transform: translateX();
    outline: 0;
    transition-duration: 0s;
}

a:hover{
    color: yellow; 
}

.wrapper{
    text-align: center;
}

canvas{
    position: fixed;
}