body{
    margin: 0;
    background-color: black;
}

img{
    border-radius: 50%;
}

section{
    position: relative;
}

a{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px;
    transform: translateX();
    outline: 0;
    transition-duration: 0s;
}

a:hover{
    color: yellow; 
}

.wrapper{
    text-align: center;
}

canvas{
    position: fixed;
}