body{
    margin: 0;
    background-color: black;
}

img{
    border-radius: 50%;
}

section{
    position: relative;
}

button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px;
    width: 100%;
    outline: 0;
    transition-duration: 0s;
}

button:hover{
    color: yellow; 
}

canvas{
    position: fixed;
}